/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/rnaseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/


process.pod.nodeSelector = 'usedby=simon'
k8s.pod.nodeSelector = 'usedby=simon'

k8s {
    debug {
       yaml = true
    }
   namespace = 'bossesim'
   context = 'bossesim'
   runAsUser = 0
   storageClaimName = 'simon-private-pvc'
   storageMountPath = '/work'
}



// Global default params, used in configs
params {

    // Input options
    input                      = null

    // References
    genome                     = null
    splicesites                = null
    gtf_extra_attributes       = 'gene_name'
    gtf_group_features         = 'gene_id'
    skip_gtf_filter            = false
    skip_gtf_transcript_filter = false
    featurecounts_feature_type = 'exon'
    featurecounts_group_type   = 'gene_biotype'
    gencode                    = false
    save_reference             = false
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false

    // UMI handling
    with_umi                   = false
    skip_umi_extract           = false
    umitools_extract_method    = 'string'
    umitools_grouping_method   = 'directional'
    umitools_dedup_stats       = false
    umitools_bc_pattern        = null
    umitools_bc_pattern2       = null
    umitools_umi_separator     = null
    umi_discard_read           = null
    save_umi_intermeds         = false

    // Trimming
    trimmer                    = 'trimgalore'
    min_trimmed_reads          = 10000
    extra_trimgalore_args      = null
    extra_fastp_args           = null
    save_trimmed               = false
    skip_trimming              = false

    // BBSplit genome filtering
    bbsplit_fasta_list         = null
    save_bbsplit_reads         = false
    skip_bbsplit               = true

    // Ribosomal RNA removal
    remove_ribo_rna            = false
    save_non_ribo_reads        = false
    ribo_database_manifest     = "/work/simon/rnaseq_compression/rrna.txt"

    // Alignment
    aligner                    = 'star_salmon'
    pseudo_aligner             = null
    pseudo_aligner_kmer_size   = 31
    seq_center                 = null
    bam_csi_index              = false
    star_ignore_sjdbgtf        = false
    salmon_quant_libtype       = null
    hisat2_build_memory        = '200.GB'  // Amount of memory required to build HISAT2 index with splice sites
    stringtie_ignore_gtf       = false
    min_mapped_reads           = 5
    extra_star_align_args      = null
    extra_salmon_quant_args    = null
    extra_kallisto_quant_args  = null
    kallisto_quant_fraglen     = 200
    kallisto_quant_fraglen_sd  = 200
    save_merged_fastq          = false
    save_unaligned             = false
    save_align_intermeds       = false
    skip_markduplicates        = true
    skip_alignment             = true
    skip_pseudo_alignment      = false
    stranded_threshold         = 0.8
    unstranded_threshold       = 0.5

    // QC
    skip_qc                    = false
    skip_bigwig                = true
    skip_stringtie             = true
    skip_fastqc                = false
    skip_preseq                = true
    skip_dupradar              = true
    skip_qualimap              = true
    skip_rseqc                 = true
    skip_biotype_qc            = true
    skip_deseq2_qc             = true
    skip_multiqc               = true
    deseq2_vst                 = true
    rseqc_modules              = 'bam_stat,inner_distance,infer_experiment,junction_annotation,junction_saturation,read_distribution,read_duplication'

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/7f1614baeb0ddf66e60be78c3d9fa55440465ac8/'

    // Config options
    config_profile_name        = null
    config_profile_description = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Max resource options
    // Defaults only, expecting to be overwritten

    // Schema validation default options
    validationFailUnrecognisedParams = false
    validationLenientMode            = false
    validationSchemaIgnoreParams     = 'genomes,igenomes_base'
    validationShowHiddenParams       = false
    validate_params                  = false


    max_memory              = '60.GB'
    max_cpus                = 15
}

// Default publishing logic for pipeline
process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: 'NFCORE_RNASEQ:RNASEQ:INPUT_CHECK:SAMPLESHEET_CHECK' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:FASTQC' {
        cpus = 2
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:FASTQC' {
        cpus = 2
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:CUSTOM_GETCHROMSIZES' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:GTF_GENE_FILTER' {
        cpus = 1
        memory = '1633.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:MAKE_TRANSCRIPTS_FASTA' {
        cpus = 1
        memory = '1649.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
        cpus = 5
        memory = '3332.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:SALMON_INDEX' {
        cpus = 5
        memory = '32768.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN_IGENOMES' {
        cpus = 10
        memory = '40960.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
        cpus = 4
        memory = '6144.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_QUANT' {
        cpus = 4
        memory = '22528.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
        cpus = 4
        memory = '22528.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
        cpus = 2
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_QUANT' {
        cpus = 4
        memory = '7475.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_MARKDUPLICATES_PICARD:PICARD_MARKDUPLICATES' {
        cpus = 1
        memory = '16528.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_MARKDUPLICATES_PICARD:SAMTOOLS_INDEX' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:STRINGTIE_STRINGTIE' {
        cpus = 2
        memory = '1272.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BEDTOOLS_GENOMECOV' {
        cpus = 2
        memory = '5722.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDCLIP' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDCLIP' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDGRAPHTOBIGWIG' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDGRAPHTOBIGWIG' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:SUBREAD_FEATURECOUNTS' {
        cpus = 2
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:MULTIQC_CUSTOM_BIOTYPE' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:DUPRADAR' {
        cpus = 2
        memory = '1047.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUALIMAP_RNASEQ' {
        cpus = 2
        memory = '10297.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_INFEREXPERIMENT' {
        cpus = 5
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_INNERDISTANCE' {
        cpus = 2
        memory = '1453.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_JUNCTIONANNOTATION' {
        cpus = 2
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_JUNCTIONSATURATION' {
        cpus = 2
        memory = '1908.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_BAMSTAT' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_READDUPLICATION' {
        cpus = 2
        memory = '9689.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_READDISTRIBUTION' {
        cpus = 2
        memory = '1654.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_TX2GENE' {
        cpus = 1
        memory = '7565.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
        cpus = 2
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
        cpus = 3
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_TXIMPORT' {
        cpus = 1
        memory = '2128.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_SE_TRANSCRIPT' {
        cpus = 1
        memory = '1296.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_SE_GENE' {
        cpus = 1
        memory = '1049.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_SE_GENE_LENGTH_SCALED' {
        cpus = 1
        memory = '1246.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_SE_GENE_SCALED' {
        cpus = 1
        memory = '1066.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:DESEQ2_QC_STAR_SALMON' {
        cpus = 2
        memory = '1452.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_MARKDUPLICATES_PICARD:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_MARKDUPLICATES_PICARD:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
        cpus = 3
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_MARKDUPLICATES_PICARD:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
        cpus = 2
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_TX2GENE' {
        cpus = 1
        memory = '7743.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_TXIMPORT' {
        cpus = 2
        memory = '2136.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_SE_GENE_SCALED' {
        cpus = 2
        memory = '1246.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_SE_GENE_LENGTH_SCALED' {
        cpus = 2
        memory = '1248.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_SE_GENE' {
        cpus = 2
        memory = '1183.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_SE_TRANSCRIPT' {
        cpus = 2
        memory = '1294.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:DESEQ2_QC_SALMON' {
        cpus = 3
        memory = '1489.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:CUSTOM_DUMPSOFTWAREVERSIONS' {
        cpus = 1
        memory = '1024.MB'
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:MULTIQC' {
        cpus = 2
        memory = '1024.MB'
    }
}

profiles {
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    naf_s_t          { includeConfig 'conf/naf_small_test.config'       }
    gz_s_t          { includeConfig 'conf/gz_small_test.config'       }
    gz_f          { includeConfig 'conf/gz_full.config'       }
}

docker.registry      = 'quay.io'

// Nextflow plugins
plugins {
    id 'nf-validation@1.1.3' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

// Load igenomes.config if required
if (!params.igenomes_ignore) {
    includeConfig 'conf/igenomes.config'
} else {
    params.genomes = [:]
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'nf-core/rnaseq'
    author          = """Harshil Patel, Phil Ewels, Rickard Hammarén"""
    homePage        = 'https://github.com/nf-core/rnaseq'
    description     = """RNA sequencing analysis pipeline for gene/isoform quantification and extensive quality control."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '3.15.0'
    doi             = 'https://doi.org/10.5281/zenodo.1400710'
}

// Workflow specific config
includeConfig "./subworkflows/local/prepare_genome/nextflow.config"
includeConfig './workflows/rnaseq/nextflow.config'

