/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'small naf test'

    // Input data
    input              = '/work/simon/samplesheet_naf_test.csv'

    // Genome references
    fasta              = '/work/simon/data_rnaseq/Drosophila_melanogaster.BDGP6.46.dna.toplevel.fa.naf'
    gtf                = '/work/simon/data_rnaseq/Drosophila_melanogaster.BDGP6.46.112.gtf'
    gff                = '/work/simon/data_rnaseq/Drosophila_melanogaster.BDGP6.46.112.gff3'

    // Other parameters
    skip_bbsplit        = true
    pseudo_aligner      = 'salmon'
    umitools_bc_pattern = 'NNNN'
}
